<div class="center-container">
    <mat-toolbar>
        <div class="header-items-container">
            <a [routerLink]="['/home']"> <img src="assets/favicon.ico" alt="logo" > </a>
            <mat-toolbar-row>
                    <button (click)="router.navigate(['/home'])"><mat-icon> home </mat-icon> Home </button>
                    <button (click)="router.navigate(['/resume'])"><mat-icon> receipt </mat-icon> Resume </button>
                    <button (click)="router.navigate(['/gallery'])"><mat-icon> image </mat-icon> Gallery </button>
                    <button (click)="router.navigate(['/contact'])"><mat-icon> phone </mat-icon> Contact </button>
            </mat-toolbar-row>
        </div>
    </mat-toolbar>
</div>