<div class="center-container">
    <mat-toolbar>
        <div class="header-items-container">
            <a routerLink=""> <img src="../../assets/logos/favicon2.png" alt="logo"> </a>
            <mat-toolbar-row>
                    <button routerLink=""><mat-icon> home </mat-icon> Home </button> 
                    <button routerLink="/about-me"><mat-icon> person </mat-icon> About Me </button>
                    <button routerLink="/resume"><mat-icon> receipt </mat-icon> Resume </button>
                    <button routerLink="/gallery"><mat-icon> image </mat-icon> Gallery </button>
                    <button routerLink="/contact"><mat-icon> phone </mat-icon> Contact </button>
            </mat-toolbar-row>
        </div>
    </mat-toolbar>
</div>