<div class="container">
    <br>
    <h1> Welcome! </h1>
    <img src="dc-portrait-shot.jpg" width="15%">
    <p> Hello! My name is Neil Cruz, and I am currently into my 3rd year at George Mason University as a Junior. </p>
    <p> Here you can learn a little bit more about me and navigate through my website using the buttons above! </p>
    <p> Just a little bit about myself, I am studying at GMU for Information Technology with a concentration 
        in Database Technology and Programming (DTP). My favorite hobbies include working out and lifting weights, playing tennis
        and other sports, cars, traveling, and even learning to work with new technologies and programming!
    </p> <br>
    <p> This website is powered with Angular and hosted with AWS S3. </p>
</div>